.App {
    text-align: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.68);
    margin: auto;
    margin-top: 20px;
    padding: 5px 10px 30px 10px;
    max-width: 500px;
}

.btn {
    /* withdraw button */
    background: #f1f1f1;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    margin: 10px;
}

#deposit_container {
    text-align: left;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}